{
  "all": true,
  "check-coverage": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100,
  "report-dir": "misc/coverage",
  "temp-dir": "misc/.coverage",
  "include": ["src/**/*.js"],
  "exclude": ["**/*.spec.js"],
  "reporter": ["text", "html", "lcovonly"]
}
